{% extends "orders/base.html" %}

{% block content %}
    <div class="expense-container">
        <h1 class="expense-title">Ongeza Matumizi</h1>
        <div class="expense-form-container">
            <form method="post" class="expense-form" id="expense-form">
                {% csrf_token %}
                {{ form.as_p }}  <!-- This will include the waiter dropdown -->
                <button type="submit" class="btn-submit" id="submit-button">Weka</button>
                <div id="loading-indicator" style="display:none;">Inaweka Matumizi...</div> <!-- Loading indicator with new text -->
            </form>
        </div>
    </div>

    <script>
        document.getElementById('expense-form').onsubmit = function() {
            var button = document.getElementById('submit-button');
            var loadingIndicator = document.getElementById('loading-indicator');
            
            button.disabled = true; // Disable button
            loadingIndicator.style.display = 'block'; // Show loading indicator with new text
        };
    </script>
{% endblock %}
