{% extends 'orders/base.html' %}

{% block title %}Historia Yangu{% endblock %}

{% block content %}
    <h1>Historia ya Oda na Matumizi</h1>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <h2>Historia ya Oda</h2>
    {% if page_obj_orders %}
        <h3>Jumla Iliyokusanywa</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Mwezi</th>
                        <th>Mwaka</th>
                        <th>Gharama Jumla</th>
                        <th>Mwelekeo (%)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in trend_data %}
                        <tr>
                            <td>{{ data.month }}</td>
                            <td>{{ data.year }}</td>
                            <td>Tsh.{{ data.total_cost }}</td>
                            <td>
                                {% if data.change is not None %}
                                    {% if data.change > 0 %}
                                        <span style="color: green;">+{{ data.change|floatformat:2 }}%</span>
                                    {% elif data.change < 0 %}
                                        <span style="color: red;">{{ data.change|floatformat:2 }}%</span>
                                    {% else %}
                                        0%
                                    {% endif %}
                                {% else %}
                                Hakuna data ya awali ya kulinganisha
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <h3>Maelezo ya Oda</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Oda No.</th>
                        <th>Tarehe</th>
                        <th>Gharama Jumla</th>
                        <th>Njia ya Malipo</th>
                        <th>Vitu vya Oda</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in page_obj_orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.created|date:"d-m-Y H:i" }}</td>
                            <td>Tsh.{{ order.total_cost }}</td>
                            <td>{{ order.payment_method }}</td>
                            <td>
                                <ul>
                                    {% for item in order.items.all %}
                                    <li>({{ item.menu_item.name }}) - Quantity: {{ item.quantity }} - Tsh.{{ item.get_cost }}</li>
                                {% empty %}
                                    <li>Hakuna vitu</li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj_orders.has_previous %}
                    <a href="?page_orders=1">&laquo; Yakwanza</a>
                    <a href="?page_orders={{ page_obj_orders.previous_page_number }}">Iliyopita</a>
                {% endif %}
                
                {% if page_obj_orders.has_next %}
                    <a href="?page_orders={{ page_obj_orders.next_page_number }}">Inayofuata</a>
                    <a href="?page_orders={{ page_obj_orders.paginator.num_pages }}">Mwisho &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>Hakuna oda zilizopatikana</p>
    {% endif %}

    <h2>Historia ya Matumizi</h2>
    {% if page_obj_expenses %}
        <h3>Jumla Iliyokusanywa</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Mwezi</th>
                        <th>Mwaka</th>
                        <th>Jumla</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in aggregated_expenses %}
                        <tr>
                            <td>{{ expense.month }}</td>
                            <td>{{ expense.year }}</td>
                            <td>Tsh.{{ expense.total_amount }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h3>Maelezo ya Matumizi</h3>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Tarehe</th>
                        <th>Kiasi</th>
                        <th>Maelezo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for expense in page_obj_expenses %}
                        <tr>
                            <td>{{ expense.date }}</td>
                            <td>Tsh.{{ expense.amount }}</td>
                            <td>{{ expense.description }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj_expenses.has_previous %}
                    <a href="?page_expenses=1">&laquo; yakwanza
                    </a>
                    <a href="?page_expenses={{ page_obj_expenses.previous_page_number }}">iliyopita</a>
                {% endif %}
                
                {% if page_obj_expenses.has_next %}
                    <a href="?page_expenses={{ page_obj_expenses.next_page_number }}">inayofuata</a>
                    <a href="?page_expenses={{ page_obj_expenses.paginator.num_pages }}">yamwisho &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>Hakuna matumizi yaliyopatikana</p>
    {% endif %}
{% endblock %}